/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {

}
 html body {
  background: url(https://fanart.tv/api/download.php?type=download&image=115035&section=2)no-repeat;
  padding: 10%;
  padding-top: 275px;
  background-color: #386472;
}
.flash{
  font-size: 400%;
  color: red;
}
h1 {
  color: #A4C6C9;
  font-size: 300%;
}
a {
  font-size: 150%;
  color: white
}
input {
  font-size: 200%;
  background-color: white;
}

li {
  color: white;
  font-size: 35px;
}

p {
  font-size: 125%;
}
